@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #001529;
}

/* .App {
	text-align: center;
} */

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    display: flex;
    background-color: #0f4557;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fcfcfc;
    padding: 50px 20px;
}

.App-body {
    display: flex;
    padding: 30px 40px;
    background-color: #fcfcfc;
}

.App-link {
    color: #61dafb;
}

button.marvel {
    cursor: pointer;
}

.marvel {
    font-weight: bold;
    background-color: #028090;
    color: #fcfcfc;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    text-decoration: none !important;
    margin: 20px 5px;
    border: 2px solid transparent;
    transition: all 100ms ease-in-out;
}

nav.navigation {
    line-height: 2.5;
}

.navigation .marvel:hover {
    border: 2px solid #fcfcfc;
}

.marvel:hover {
    border: 4px solid #0f4557;
}

.tota11yLink {
    /*used to make a link tota11y compliant*/
    color: #0072ee !important;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

th,
td {
    min-width: 100px;
    border: 1px solid black;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 16px;
    color: #767676;
}

.titleOfSubtitle {
    margin-bottom: 2px;
}

footer.casesTracking {
    margin-bottom: 2%;
    column-count: 2;
}

#dataSources li {
    list-style-type: none;
    text-align: left;
    margin-left: 15%;
}

/** cool hover effect for Vaccine page */
span.hoverCause span.hoverResult {
    /** Soruce: w3 schools */
    color: #fcfcfc;
    background-color: #0f4557;
    border-radius: 10px;

    padding: 10px;
    visibility: hidden;

    position: absolute;
}

span.hoverCause:hover span.hoverResult {
    visibility: visible;
}

.travelContainer {
    background: #eaeaea;
    border-radius: 1rem;
    padding: 2rem 1rem;
    width: 65vw;
    text-align: center;
    flex: shrink;
}

.label {
    line-height: 100%;
    font-weight: 400;
    font-size: 1.2rem !important;
    margin: 8px 0 !important;
}

.symptom-btn {
    margin: 20px 0 !important;
    width: 160px;
    border: 2px solid transparent !important;
}

button {
    font-weight: 600 !important;
    border: 2px solid transparent;
}

button:hover {
    background-color: transparent !important;
    border: 1px solid #001529 !important;
    color: #001529 !important;
}

button:focus {
    background-color: transparent !important;
    border: 2px solid #001529 !important;
    color: #001529 !important;
}

.para {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
    text-justify: newspaper;
}

.navigation {
    background: #0f4557;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a:link,
.navigation a:visited {
    color: #fcfcfc;
    text-decoration: none;
}

.error {
    font-weight: bold;
    color: red !important;
}

.forgotPassword {
    background: none !important;
    border: none !important;
    text-decoration: underline;
    margin-left: 5px;
    color: #069;
}

.forgotPassword:hover {
    text-decoration: none;
    color: red;
}

.chart {
    justify-content: center;
}

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.logo > a {
    color: white !important;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 25px;
}

.logo > p {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.ant-layout {
    background-color: #fcfcfc !important;
}

.main-content {
    margin-left: 200px;
    max-width: 100vw;
    height: 100vh;
}

.mobile-nav {
    display: none;
}

.loader {
    font-size: 42px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.img-loader {
    font-size: 20px;
    margin-left: 10%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-left {
    align-items: flex-start;
}

.ant-btn-primary {
    color: #fff;
    background: #001529;
    border-color: #001529;
}

.news-card {
    /* margin-bottom: 30px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-link {
    display: inline-block;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-weight: 700;
    font-size: 1.1rem;
}

.card-date {
    color: #767676;
    font-size: 0.8rem;
    margin: 10px 0;
}

.card-body {
    font-size: 0.8rem;
}

.news-header {
    display: inline-block;
    margin: 30px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.symptom-header {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}

.full-width {
    width: 100%;
}

.not-available {
    display: block;
    margin: 15px auto;
    font-size: 1rem;
    font-weight: 500;
}

.testing-btn {
    display: block;
    width: 230px;
    margin: 15px 0;
    border: 1px solid #6f7689 !important;
}

.testing-list {
    margin: 30px 0;
    width: auto;
}

.full-width-card {
    width: 100%;
}

.sub-heading {
    display: block;
    color: #6f7689;
    font-size: 0.8rem;
    margin: 15px 0 2px 0;
}

.sub-info {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #001529 !important;
}

.sub-heading-row {
    display: block;
    justify-content: center;
    color: #6f7689;
    font-size: 0.8rem;
}

.sub-info-row {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 10px 0 5px;
    color: #001529 !important;
}

.sub-info-small {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #001529 !important;
}

.schedule {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #001529 !important;
}

.top-margin {
    margin-top: 40px;
}

.ant-menu-item-selected {
    background-color: transparent !important;
    font-weight: 700;
    transition: all 50ms ease-in-out;
}

.ant-drawer-body {
    padding: 0 !important;
}

.details {
    font-size: 0.8rem !important;
    text-align: justify !important;
}

.collapse-header {
    margin-top: 20px;
}

.leaflet-popup-content {
    width: auto !important;
    margin: 20px !important;
}

.mobile-header {
    display: none;
}

.signup-btn {
    width: 130px !important;
    height: 40px !important;
    font-size: 1rem;
}

.social-signup-btn {
    width: 220px !important;
    height: 40px !important;
    margin-right: 20px;
    margin-top: 20px;
}

.ant-form-item-control {
    max-width: 250px !important;
}

.forgot-pass {
    padding: 0px !important;
    margin-top: 20px;
}

/* COLORS */

.color-green {
    color: #3e673c !important;
}

.color-red {
    color: #a93765 !important;
}

.color-orange {
    color: #ff7f51 !important;
}

.color-yellow {
    color: #ac9300 !important;
}

.color-primary {
    color: #001529 !important;
}

.color-link {
    color: #0054a3 !important;
}

.color-gray {
    color: #6f7689 !important;
}

/* Media for mobile */

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        height: 60px;
        width: 100vw;
        background-color: #001529;
        color: #fcfcfc;
        font-size: 1.3rem;
        font-weight: 800;
        letter-spacing: 0.4rem;
        z-index: 1;
    }

    .main-content {
        margin: 10px;
    }

    .mobile-nav {
        display: flex;
        position: relative;
    }

    .floating-menu {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
        z-index: 1;
    }

    .App-body {
        padding: 15px;
        margin-top: 60px;
    }

    .label {
        font-size: 1.1rem !important;
        margin: 12px 0 !important;
    }

    .symptom-btn {
        width: 180px !important;
    }

    .view-map-btn {
        width: auto !important;
        padding: 8px 20px !important;
        font-size: 1rem !important;
        font-weight: 600;
        height: auto !important;
        margin-top: 5px !important;
    }

    button {
        width: auto !important;
        height: 45px !important;
        font-size: 1rem !important;
    }
}
